@media(max-width: 600px){

    .column-profile {
        width: 100%;
    }

    .column-profile-details {
        width: 100%;
        margin-top: 10px;
    }

    .row {
        width: 100%;
        display: block;
    }

    .row-section-title {
        width: 30%;
        font-weight: bold;
    }

    .row-section-value {
        width: 60%;
        text-overflow: ellipsis;
    }

    .row-profile .row-section-title {
        width: 30%;
        margin: 0 0 0 10px;
    }

    .row-profile .row-section-value {
        width: 60%;
        margin: 0 0 0 10px;
    }

    .social-network {
        width: 100%;
        margin: 10% 25% 10% 25%;
        border-radius: 50%;
        box-shadow: 5px 10px #888888;
    }

    .social-network {
        width: 50%;
        /*margin-bottom: 20px;*/
    }

    .main-header {
        width: 100%;
        height: 70px;
        position: fixed;
    }

    main {
        padding-top: 100px;
    }

    a.icon {
        display: block;
        float: left;
    }

     a.icon:hover {
        background-color: #ddd;
        color: black;
    }

    .main-header a {
        float: right;
        color: white;
        padding: 23px;
        width: 70px;
        height: auto;
        text-decoration: none;
        font-size: 20px;
    }

    .main-nav {
        background-color: #f1f1f1;
    }

    .main-nav__items {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
    }

    .main-nav__items-visible {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }

    .main-nav__item {
        width: 100%;
        display: inline-block;
        margin: 0 0rem;
        padding: 1rem 1rem 1rem 1rem;
        border-bottom: 1px solid white;
    }

    .main-nav__item a {
        width: 80%;
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        padding: 15px;
        text-align: left;
    }

    .icons {
        display: inline-block;
        margin: 10px 10px 10px 10px;
        padding: 0;
    }

    .visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s linear;
    }

    

}

/*@media(max-width: 880px){
    main {
        padding-top: 150px;
    }

    
    .column-job {
        width: 99%;
	    height: 300px;
        margin-top: 10px;
    }
}*/