@media(max-width: 600px){

    main {
        padding-top: 200px;
    }

    .column-profile {
        width: 100%;
    }

    .column-profile-details {
        width: 100%;
        margin-top: 10px;
    }

    .row {
        width: 100%;
        display: block;
    }

    .row-section-title {
        width: 30%;
        font-weight: bold;
    }

    .row-section-value {
        width: 60%;
        text-overflow: ellipsis;
    }

    .row-profile .row-section-title {
        width: 30%;
        margin: 0 0 0 10px;
    }

    .row-profile .row-section-value {
        width: 60%;
        margin: 0 0 0 10px;
    }

}

@media(max-width: 880px){
    main {
        padding-top: 150px;
    }

    /* Create column to show jobs description */
    .column-job {
        width: 99%;
	    height: 300px; /* Should be removed. Only for demonstration */
        margin-top: 10px;
    }
}