* {
    box-sizing: border-box;
}

body {
    font-family: "Monserrat", sans-serif;
    margin: 0;
    background-color: aliceblue;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    z-index: 1;
    background-color: #005b96;
    /* border-bottom-color: black;
    border-bottom: 10px; */
}

.main-nav {
    display: inline-block;
    text-align: center;
    width:100%;
}

.main-nav__items {
    margin: 1%;
    padding: 0;
    list-style: none;
    float: right;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #ccc;
}

main {
    margin-top: 3.5rem;
    display: inline-block;
    width: 90%;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.section-g {
    background-color: #adcbe3;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    width: auto;
}

.profile_pic {
    border-radius: 50%;
    width: 40%;
    height: auto;
    border: 2px solid;
    box-shadow: 0rem 1rem 1rem .5rem rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}

.profile_pic:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.about {
    padding-top: 5vh;
}

.work {

}

.skills{

}

.contact {

}